body{
}
div{
}

.scene {
    display : none;
}

.no-select {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    cursor: default;
}
.bord-area {
    background-color: #CCCCCC;
}
.bord{
    padding:0px;
}
.bord-info {
    font-size: small;
}
.inline-block {
    display: inline-block;
}

.cell{
    display: inline-block;
    width: 32px;
    height: 32px;
    margin: 0 auto;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0);
    vertical-align:bottom;
}
.cell-exist {
    border: 1px solid #204020;
    background-color: rgba(0, 0, 0, 0);
}

.cell-half-exist {
    border: 1px solid #204020;
    background-color: rgba(0, 0, 0, 0);
    opacity:0.5;
}

.stone{
    width: 32px;
    height: 32px;

    border: 0px solid rgba(0,0,0,0);
}
.cell> .stone{
    position: relative;
    top: 0px;
    margin: 0 auto;
    padding: 0;
}

