body{
}
.bord{
    padding:0px;
}
.cell{
    display: inline-block;
    width: 32px;
    height: 32px;
    margin: 0 auto;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0);
    vertical-align:bottom;
}
.cell_exist{
    border: 1px solid #203020;
    background-color: #216421;
}
.cell> .stone{
    position: relative;
    top: 5px;
    margin: 0 auto;
}
.stone{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0);
}
.stone1{
    border: 1px solid #000000;
    background-color: #101010;
}
.stone2{
    border: 1px solid #000000;
    background-color: #F0F0F0;
}

